<div class="container mt-4">
  <h2>Bienvenido, {{ user?.username }}</h2>
  <p>Rol: {{ user?.tipo_usuario }}</p>

<div *ngIf="user?.tipo_usuario === 'docente'">
  <h3>Mis Asignaturas</h3>
  <ul class="list-group">
    <li *ngFor="let asignatura of asignaturas" class="list-group-item">
      <strong>{{ asignatura.nombre }}</strong><br />
      <small>{{ asignatura.descripcion }}</small><br />
      <a [routerLink]="['/tareas', asignatura.id]" class="btn btn-outline-secondary btn-sm mt-2">Ver Tareas</a>
    </li>
  </ul>
</div>

  <div *ngIf="user?.tipo_usuario === 'estudiante'">
    <a routerLink="/tareas" class="btn btn-info">Ver Tareas</a>
  </div>
</div>
